# Generated
/.vs/
/Release/
/Debug/
/x64/
/minecraft-portable-launcher/minecraft-portable-launcher.aps
/minecraft-portable-launcher/Release/
/minecraft-portable-launcher/Debug/
/minecraft-portable-launcher/x64/
/minecraft-portable-launcher.aps
